body {
  height: 100vh;
  background-image: url(../img/biblioteca.jpg);
  background-position: center center;
  background-size: cover;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
}

.container h1 {
  margin-top: -10px;
  text-align: center;
}


:is(.cita, .autor) {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.cita {
  font-size: 34px;
}

.autor {
  font-size: 30px;
}

button {
  background-color: #212121;
  border: 5px solid #212121;
  color: #fff;
  font-size: 25px;
  float: right;
  border-radius: 8px;
  box-shadow: 0 0 3px #212121;
}